.availability-container {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    /* margin: 20px;
    background-color: #f5faff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  }
  
  .availability-container h1 {
    font-size: 2rem;
    color: #2c3e50;
    /* text-align: center; */
    margin-bottom: 20px;
  }
  
  .availability-container h2 {
    font-size: 1.4rem;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .availability-container p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .availability-container ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .availability-container ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .availability-container a {
    color: #2c3e50;
    text-decoration: none;
  }
  
  .availability-container a:hover {
    text-decoration: underline;
  }
  