.benefits-container {
    font-family: 'Arial', sans-serif;
    padding: 10px;
    /* background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; */
  }
  
  .benefits-container h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .benefits-container p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .benefit-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .benefit-item h2 {
    font-size: 1.5rem;
    color: #0c47a1;
    margin-bottom: 10px;
  }
  
  .benefit-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  